<!-- WEATHER SEARCH PAGE COMPONENT -->
<div class="flex flex-col items-center justify-center h-full p-5 space-y-2 bg-gradient-to-br"
    [ngClass]="weatherSearchPageService.selectedLocation.value ? 'from-sky-300/90 to-yellow-200/90' : 'from-sky-300/70 to-yellow-200/60'">
    <!-- PAGE ICON (SMALL SCREEN SIZES) -->
    <div class="self-start block p-3 mb-3 bg-white shadow-lg h-14 w-14 rounded-xl 2xl:hidden xl:hidden lg:hidden md:hidden sm:hidden xs:hidden">
        <img src="../../assets/icons/search-box-icon.png" alt="weather search icon">
    </div>
    <!-- SEARCH BAR -->
    <div class="flex w-full h-20 max-w-2xl p-5 bg-white shadow-lg rounded-xl">
        <!-- PAGE ICON (LARGE SCREEN SIZES) -->
        <img class="hidden mr-2 2xl:block xl:block lg:block md:block sm:block xs:block" src="../../assets/icons/search-box-icon.png" alt="weather search icon">
        <!-- COUNTRY SELECTION DROPDOWN -->
        <ng-container *ngIf="weatherSearchPageService.countries$ | async as countries; else loadingCountries">
            <!-- COUNTRY SELECTION DROPDOWN BUTTON -->
            <button [@fadeIn]="{ value: '', params: { duration : 500 } }"
                (focus)="weatherSearchPageService.toggleCountriesDropdown()"
                (focusout)="weatherSearchPageService.toggleCountriesDropdown()"
                class="flex items-center justify-between w-24 p-3 mr-2 transition-opacity border rounded-md border-neutral-200 hover:border-blue-200 focus:outline-none focus:outline-blue-200 focus:outline-offset-0 focus:border-blue-200">
                <ng-container *ngIf="weatherSearchPageService.selectedCountry.value as country">
                    <img class="h-4 rounded-md object-cover mt-0.5" src="../../assets/icons/{{ country.iconFileName }}" alt="{{ country.code }} flag">
                </ng-container>
                <span class="text-xs font-bold">
                    {{ weatherSearchPageService.selectedCountry.value?.code ?? 'N/A' }}
                </span>
                <img class="w-3.5 h-3.5 opacity-50" src="../../assets/icons/dropdown-icon.png" alt="dropdown icon">
            </button>
            <!-- COUNTRY SELECTION DROPDOWN LIST -->
            <ng-container *ngIf="weatherSearchPageService.toggleCountriesDropdown$ | async">
                <div class="absolute z-10 w-auto bg-white rounded translate-y-11 2xl:translate-x-12 xl:translate-x-12 lg:translate-x-12 md:translate-x-12 sm:translate-x-12 xs:translate-x-12">
                    <ul class="py-1 text-sm text-black">
                        <li *ngFor="let country of countries">
                            <button type="button"
                                class="inline-flex items-center w-full px-4 py-2 space-x-2 hover:bg-neutral-100"
                                (mousedown)="weatherSearchPageService.selectedCountry.setValue(country)">
                                <img class="h-4 rounded-md object-cover mt-0.5" src="../../assets/icons/{{ country.iconFileName }}" alt="{{ country.code }} flag">
                                <span class="text-xs">
                                    {{ country.name }}
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
        <!-- COUNTRY SELECTION DROPDOWN PLACEHOLDER -->
        <ng-template #loadingCountries>
            <button disabled
                class="flex items-center justify-between w-24 p-3 mr-2 border rounded-md bg-neutral-50 border-neutral-200 hover:border-blue-200 focus:outline-none focus:outline-blue-200 focus:outline-offset-0 focus:border-blue-200">
                <div class="w-4 h-4 transition-transform border-2 border-transparent rounded-full border-y-neutral-500 border-l-neutral-500 loading-spinner"></div>
                <img class="w-3.5 h-3.5 opacity-50" src="../../assets/icons/dropdown-icon.png" alt="dropdown icon">
            </button>
        </ng-template>
        <!-- LOCATION SEARCH INPUT -->
        <ng-container *ngIf="weatherSearchPageService.locations$ | async as locations; else loadingLocations">
            <!-- SEARCH INPUT -->
            <div [@fadeIn]="{ value: '', params: { duration : 500 } }" class="relative flex-grow transition-opacity">
                <input [formControl]="weatherSearchPageService.searchTerm"
                    (focus)="weatherSearchPageService.toggleLocationsDropdown()"
                    (focusout)="weatherSearchPageService.toggleLocationsDropdown()"
                    class="w-full h-full pl-3 pr-8 text-sm border rounded-md hover:border-blue-200 focus:outline-none focus:outline-blue-200 focus:outline-offset-0 focus:border-blue-200 search-input"
                    placeholder="Please enter your location..." type="text">
                <!-- MAGNIFYING GLASS SEARCH ICON -->
                <ng-container *ngIf="weatherSearchPageService.selectedLocation.value === null || (weatherSearchPageService.temperatures$ | async); else loadingTemperatures">
                    <div class="absolute inset-y-0 flex items-center pointer-events-none right-2 search-icon">
                        <img class="w-5 h-5 opacity-50" src="../../assets/icons/search-icon.png" alt="search icon">
                    </div>
                </ng-container>
                <!-- LOADING SPINNER ICON -->
                <ng-template #loadingTemperatures>
                    <div class="flex absolute inset-y-0 right-0.5 items-center pointer-events-none search-icon">
                        <div class="w-4 h-4 mr-2 transition-transform border-2 border-transparent rounded-full border-y-black border-l-black loading-spinner"></div>
                    </div>
                </ng-template>
            </div>
            <!-- FILTERED LOCATION LIST DROPDOWN -->
            <ng-container *ngIf="weatherSearchPageService.toggleLocationsDropdown$ | async">
                <div class="absolute z-10 w-48 ml-2 translate-x-24 bg-white rounded translate-y-11 2xl:translate-x-36 xl:translate-x-36 lg:translate-x-36 md:translate-x-36 sm:translate-x-36 xs:translate-x-36">
                    <ul class="py-1 text-sm text-black">
                        <li *ngFor="let location of weatherSearchPageService.filteredLocations$ | async">
                            <button type="button"
                                class="inline-flex items-center w-full px-4 py-2 space-x-2 hover:bg-neutral-100"
                                (mousedown)="weatherSearchPageService.selectedLocation.setValue(location)">
                                <span class="text-sm">{{ location.name }}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
        <!-- LOCATION SEARCH INPUT PLACEHOLDER -->
        <ng-template #loadingLocations>
            <div class="relative flex-grow">
                <input class="w-full h-full pl-3 pr-8 text-sm border rounded-md bg-neutral-50" disabled type="text">
                <div class="flex absolute inset-y-0 right-0.5 items-center pointer-events-none search-icon">
                    <div class="w-4 h-4 mr-2 transition-transform border-2 border-transparent rounded-full border-y-neutral-500 border-l-neutral-500 loading-spinner"></div>
                </div>
            </div>
        </ng-template>
    </div>
    <!-- WEEKLY TEMPERATURE -->
    <ng-container *ngIf="weatherSearchPageService.selectedLocation.value">
        <!-- WEEKLY TEMPERATURE DIAGRAM -->
        <ng-container *ngIf="weatherSearchPageService.temperatures$ | async as temperatures; else loadingTemperatures">
            <div [@fadeIn]="{ value: '', params: { duration : 500 } }"
                class="flex flex-col items-center w-full max-w-3xl p-5">
                <span class="mb-4 text-xs font-bold text-sky-900">JUNE 20 - 26 2022</span>
                <div class="flex mb-12">
                    <span class="font-bold text-white text-8xl">{{ temperatures | temperatureAverage }}</span>
                    <span class="pt-2 text-4xl font-bold text-white">°</span>
                    <span class="pt-2 text-4xl font-bold text-white">C</span>
                </div>
                <div class="flex flex-wrap justify-center">
                    <div *ngFor="let temperature of temperatures;"
                        class="flex flex-col items-center w-1/4 mx-5 mb-5 2xl:w-auto 2xl:mx-5 2xl:mb-0 xl:w-auto xl:mx-5 xl:mb-0 lg:w-auto lg:mx-5 lg:mb-0 md:w-auto md:mx-5 md:mb-0 sm:w-1/4 sm:mx-5 sm:mb-5 xs:w-1/4 xs:mx-5 xs:mb-5">
                        <span class="text-xs font-bold text-sky-900">{{ temperature.day | uppercase }}</span>
                        <div class="flex">
                            <span class="text-xl font-bold text-white">{{ temperature.degreesCelsius }}</span>
                            <span class="font-bold text-white text-md">°</span>
                            <span class="font-bold text-sm text-white pt-0.5">C</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- WEEKLY TEMPERATURE DIAGRAM PLACEHOLDER -->
        <ng-template #loadingTemperatures>
            <div class="flex flex-col items-center w-full max-w-2xl py-5">
                <div class="h-5 mb-4 rounded-md w-28 animate-pulse bg-sky-900/50"></div>
                <div class="h-20 mb-12 rounded-md w-28 animate-pulse bg-white/50"></div>
                <div class="w-1/2 h-64 rounded-md 2xl:w-full xl:w-full lg:w-full md:w-full sm:w-2/3 xs:w-1/2 2xl:h-14 xl:h-14 lg:h-14 md:h-14 sm:h-52 xs:h-64 animate-pulse bg-sky-900/50"></div>
            </div>
        </ng-template>
    </ng-container>
</div>