<div class="page flex flex-col space-y-2 h-full items-center justify-center p-5 bg-gradient-to-br"
    [ngClass]="weatherSearchPageService.weatherSearchSelectedLocation.value ? 'from-sky-300/90 to-yellow-200/90' : 'from-sky-300/70 to-yellow-200/60'">
    <div class="h-14 w-14 p-3 mb-3 bg-white rounded-xl shadow-lg self-start 2xl:hidden xl:hidden lg:hidden md:hidden sm:hidden xs:hidden block">
        <img src="../../assets/icons/search-box-icon.png" alt="weather search icon">
    </div>
    <div class="flex w-full max-w-2xl h-20 p-5 bg-white rounded-xl shadow-lg">
        <img class="2xl:block xl:block lg:block md:block sm:block xs:block hidden mr-2" src="../../assets/icons/search-box-icon.png" alt="weather search icon">
        <ng-container *ngIf="weatherSearchPageService.weatherSearchLocationCountries$ | async as locationCountries; else loadingCountries">
            <button [@fadeIn]="{ value: '', params: { duration : 500 } }" (focus)="weatherSearchPageService.toggleWeatherSearchLocationCountriesDropdown()" (focusout)="weatherSearchPageService.toggleWeatherSearchLocationCountriesDropdown()"
                class="mr-2 transition-opacity flex justify-between w-24 items-center p-3 rounded-md border border-neutral-200 hover:border-blue-200 focus:outline-none focus:outline-blue-200 focus:outline-offset-0 focus:border-blue-200">
                <ng-container *ngIf="weatherSearchPageService.weatherSearchSelectedCountry.value as country">
                    <img class="h-4 rounded-md object-cover mt-0.5" src="../../assets/icons/{{ country.iconFileName }}" alt="{{ country.code }} flag">
                </ng-container>
                <span class="font-bold text-xs">{{ weatherSearchPageService.weatherSearchSelectedCountry.value?.code ?? 'N/A' }}</span>
                <img class="w-3.5 h-3.5 opacity-50" src="../../assets/icons/dropdown-icon.png" alt="dropdown icon">
            </button>
            <ng-container *ngIf="weatherSearchPageService.toggleWeatherSearchLocationCountriesDropdown$ | async">
                <div class="absolute translate-y-11 2xl:translate-x-12 xl:translate-x-12 lg:translate-x-12 md:translate-x-12 sm:translate-x-12 xs:translate-x-12 z-10 w-auto bg-white rounded">
                    <ul class="py-1 text-sm text-black">
                        <li *ngFor="let locationCountry of locationCountries">
                            <button type="button" class="inline-flex items-center space-x-2 py-2 px-4 w-full hover:bg-neutral-100" (mousedown)="weatherSearchPageService.weatherSearchSelectedCountry.setValue(locationCountry)">
                                <img class="h-4 rounded-md object-cover mt-0.5" src="../../assets/icons/{{ locationCountry.iconFileName }}" alt="{{ locationCountry.code }} flag">
                                <span class="text-xs">{{ locationCountry.name }}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #loadingCountries>
            <button disabled class="mr-2 w-24 bg-neutral-50 flex justify-between items-center p-3 rounded-md border border-neutral-200 hover:border-blue-200 focus:outline-none focus:outline-blue-200 focus:outline-offset-0 focus:border-blue-200">
                <div class="w-4 h-4 border-2 border-transparent border-y-neutral-500 border-l-neutral-500 rounded-full transition-transform loading-spinner"></div>
                <img class="w-3.5 h-3.5 opacity-50" src="../../assets/icons/dropdown-icon.png" alt="dropdown icon">
            </button>
        </ng-template>
        <ng-container *ngIf="weatherSearchPageService.weatherSearchLocations$ | async as locations; else loadingLocations">
            <div [@fadeIn]="{ value: '', params: { duration : 500 } }" class="transition-opacity flex-grow relative">
                <input [formControl]="weatherSearchPageService.weatherSearchTerm" (focus)="weatherSearchPageService.toggleWeatherSearchLocationsDropdown()" (focusout)="weatherSearchPageService.toggleWeatherSearchLocationsDropdown()" class="pl-3 pr-8 h-full w-full text-sm border rounded-md hover:border-blue-200 focus:outline-none focus:outline-blue-200 focus:outline-offset-0 focus:border-blue-200 search-input" placeholder="Please enter your location..." type="text">
                <ng-container *ngIf="weatherSearchPageService.weatherSearchSelectedLocation.value === null || (weatherSearchPageService.weatherSearchLocationTemperatures$ | async); else loadingTemperatures">
                    <div class="flex absolute inset-y-0 right-2 items-center pointer-events-none search-icon">
                        <img class="w-5 h-5 opacity-50" src="../../assets/icons/search-icon.png" alt="search icon">
                    </div>
                </ng-container>
                <ng-template #loadingTemperatures>
                    <div class="flex absolute inset-y-0 right-0.5 items-center pointer-events-none search-icon">
                        <div class="w-4 h-4 border-2 border-transparent border-y-black border-l-black rounded-full transition-transform loading-spinner mr-2"></div>
                    </div>
                </ng-template>
            </div>
            <ng-container *ngIf="weatherSearchPageService.toggleWeatherSearchLocationsDropdown$ | async">
                <div class="absolute translate-y-11 2xl:translate-x-36 xl:translate-x-36 lg:translate-x-36 md:translate-x-36 sm:translate-x-36 xs:translate-x-36 translate-x-24 ml-2 z-10 w-48 bg-white rounded">
                    <ul class="py-1 text-sm text-black">
                        <li *ngFor="let location of weatherSearchPageService.weatherSearchFilteredLocations$ | async">
                            <button type="button" class="inline-flex items-center space-x-2 py-2 px-4 w-full hover:bg-neutral-100" (mousedown)="weatherSearchPageService.weatherSearchSelectedLocation.setValue(location)">
                                <span class="text-sm">{{ location.name }}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #loadingLocations>
            <div class="flex-grow relative">
                <input class="pl-3 pr-8 h-full w-full text-sm bg-neutral-50 border rounded-md"  disabled type="text">
                <div class="flex absolute inset-y-0 right-0.5 items-center pointer-events-none search-icon">
                    <div class="w-4 h-4 border-2 border-transparent border-y-neutral-500 border-l-neutral-500 rounded-full transition-transform loading-spinner mr-2"></div>
                </div>
            </div>
        </ng-template>
    </div>
    <ng-container *ngIf="weatherSearchPageService.weatherSearchSelectedLocation.value">
        <ng-container *ngIf="weatherSearchPageService.weatherSearchLocationTemperatures$ | async as locationTemperatures; else loadingTemperatures">
            <div [@fadeIn]="{ value: '', params: { duration : 500 } }" class="flex flex-col items-center w-full max-w-3xl p-5">
                <span class="font-bold text-xs text-sky-900 mb-4">JUNE 20 - 26 2022</span>
                <div class="flex mb-12">
                    <span class="font-bold text-8xl text-white">{{ locationTemperatures | weatherSearchTemperatureAverage }}</span>
                    <span class="font-bold text-4xl text-white pt-2">°</span>
                    <span class="font-bold text-4xl text-white pt-2">C</span>
                </div>
                <div class="flex flex-wrap justify-center">
                    <div *ngFor="let locationTemperature of locationTemperatures;"
                        class="flex flex-col items-center 2xl:w-auto 2xl:mx-5 2xl:mb-0 xl:w-auto xl:mx-5 xl:mb-0 lg:w-auto lg:mx-5 lg:mb-0 md:w-auto md:mx-5 md:mb-0 sm:w-1/4 sm:mx-5 sm:mb-5 xs:w-1/4 xs:mx-5 xs:mb-5 w-1/4 mx-5 mb-5">
                        <span class="font-bold text-xs text-sky-900">{{ locationTemperature.day | uppercase }}</span>
                        <div class="flex">
                            <span class="font-bold text-xl text-white">{{ locationTemperature.temperature }}</span>
                            <span class="font-bold text-md text-white">°</span>
                            <span class="font-bold text-sm text-white pt-0.5">C</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #loadingTemperatures>
            <div class="flex flex-col items-center w-full max-w-2xl py-5">
                <div class="h-5 w-28 animate-pulse bg-sky-900/50 rounded-md mb-4"></div>
                <div class="h-20 w-28 animate-pulse bg-white/50 rounded-md mb-12"></div>
                <div class="2xl:w-full xl:w-full lg:w-full md:w-full sm:w-2/3 xs:w-1/2 w-1/2 2xl:h-14 xl:h-14 lg:h-14 md:h-14 sm:h-52 xs:h-64 h-64 animate-pulse bg-sky-900/50 rounded-md"></div>
            </div>
        </ng-template>
    </ng-container>
</div>